.row {
    background-color: rgba(20, 102, 224, 0.933);
    padding: 10px;
    margin: 20px 100px;
    width: auto;
    height: auto;

}

.card-body {
    height: fit-content;
    padding: 30px;
    text-align: start;

}

.project {
    padding: 70px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    color: blue;
    text-decoration-color: black;
}

#card {
    padding-left: 20px 30px;

}

.d-grid {
    padding: 10px;
}

.card-list {
    padding-top: 30px;
}

#title {
    background-color: white;
}